<div class="product-container">
  <a routerLink="/products/{{ product.id }}">
    <img class="product-image" src="{{ product.url }}"
  /></a>
  <p>{{ product.name }}</p>
  <p>${{ product.price }}</p>
  <form (ngSubmit)="AddCart()">
    <select
      class="select-input"
      name="number"
      type="text"
      [(ngModel)]="cartQuantity"
    >
      <option
        *ngFor="let i of [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]"
        value="{{ i }}"
      >
        {{ i }}
      </option>
    </select>

    <br />
    <button class="btn" type="submit">Add to cart</button>
  </form>
</div>
