<div class="detail-container">
  <img class="img" src="{{ productDetails.url }}" />
  <div class="detail-item">
    <h2>{{ productDetails.name }}</h2>
    <p>{{ productDetails.price }}</p>
    <p>{{ productDetails.description }}</p>
    <form (ngSubmit)="AddCart()">
      <select
        class="select-input"
        type="number"
        name="cartQuantity"
        [(ngModel)]="cartQuantity"
      >
        <option
          *ngFor="let i of [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]"
          value="{{ i }}"
        >
          {{ i }}
        </option>
      </select>
      <div>Choosing ZERO will remove the item</div>

      <br />
      <button class="btn" type="submit">Add to cart</button>
    </form>
    <a class="back-link" routerLink="/"> <- Back to Product list</a>
  </div>
</div>
