<div class="detail-container">
  <img class="img" src="{{ productDetails.url }}" />
  <div class="detail-item">
    <h2>{{ productDetails.name }}</h2>
    <p>{{ productDetails.price }}</p>
    <form (ngSubmit)="AddCart()">
      <input
        class="select-input"
        type="number"
        name="cartQuantity"
        [(ngModel)]="cartQuantity"
      />
      <br />
      <button class="btn" type="submit">Add to cart</button>
    </form>
    <a class="back-link" routerLink="/"> <- Back to Product list</a>
  </div>
</div>
